@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
